<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="MCSDresponseQueueIP" value="10.20.22.32"/>
    <add key="MCSDresponseQueueName" value="mcsdresponsequeue"/>
    <add key="MCSD_UserName" value="testUserName"/>
    <add key="MCSD_Password" value="password"/>
    <add key="OverrideMCSDQueue" value="false"/>
    <add key="FlushMCSDUpdatesOffline" value="true"/>
  </appSettings>

  <system.serviceModel>
    
    <client>
      <endpoint name="netTcpBinding_IMcdrAdmin" address="net.tcp://localhost:9873/McdrAdmin.svc" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="Beltone.Services.MCDR.Contract.Interfaces.IMcdrAdmin">
      </endpoint>
    </client>
  
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" closeTimeout="00:010:00" openTimeout="00:010:00" receiveTimeout="00:10:00" sendTimeout="00:010:00" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"  />
          </security>
        </binding>
      </netTcpBinding>
   
    </bindings>
   
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
