<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FixDbEntities" connectionString="metadata=res://*/FixDB.csdl|res://*/FixDB.ssdl|res://*/FixDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.50.218;initial catalog=Beltone.FixService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>