<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RequestMessagesHandlers" type="Beltone.Services.Fix.Service.Handlers.RequestMessagesHandlers.RequestMessagesHandlers, Beltone.Services.Fix.Service"/>
    <section name="ResponseMessagesHandlers" type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.ResponseMessagesHandlers, Beltone.Services.Fix.Service"/>
    <section name="McsdResponseMessagesHandlers" type="Beltone.Services.Fix.Service.Handlers.ResponseMcsdMessagesHandlers.McsdResponseMessagesHandlers, Beltone.Services.Fix.Service"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <dataConfiguration defaultDatabase="FixOrdersDBConnectionString"/>

  <RequestMessagesHandlers>
    <RequestMessagesHandlersList>
      <RequestMessageHandler Name="NewSingleOrder" Type="Beltone.Services.Fix.Service.Handlers.RequestMessagesHandlers.NewSingleOrderHandler"/>
      <RequestMessageHandler Name="ModifyCancelOrder" Type="Beltone.Services.Fix.Service.Handlers.RequestMessagesHandlers.ModifyCancelOrderHandler"/>
      <RequestMessageHandler Name="OrderCancelRequestHandler" Type="Beltone.Services.Fix.Service.Handlers.RequestMessagesHandlers.OrderCancelRequestHandler"/>
      <RequestMessageHandler Name="OrderInfoHandler" Type="Beltone.Services.Fix.Service.Handlers.RequestMessagesHandlers.OrderInfoHandler"/>
    </RequestMessagesHandlersList>
  </RequestMessagesHandlers>

  <ResponseMessagesHandlers>
    <ResponseMessagesHandlersList>
      <ResponseMessageHandler Name="Rejection" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.RejectionHandler" MsgTypeValue="3"/>
      <ResponseMessageHandler Name="BusinessMessageReject" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.BusinessMessageRejectHandler" MsgTypeValue="j"/>
      <ResponseMessageHandler Name="ExecutionReportResponseMessage" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.ExecutionReportResponseMessageHandler" MsgTypeValue="8"/>
      <ResponseMessageHandler Name="LogOn" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.LogOnResponseHandler" MsgTypeValue="A"/>
      <ResponseMessageHandler Name="OrderCancelReject" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.OrderCancelRejectHandler" MsgTypeValue="9"/>
      <ResponseMessageHandler Name="LogOutResponseHandler" Type="Beltone.Services.Fix.Service.Handlers.ResponseMessagesHandlers.LogOutResponseHandler" MsgTypeValue="5"/>
    </ResponseMessagesHandlersList>
  </ResponseMessagesHandlers>

  <McsdResponseMessagesHandlers>
    <McsdResponseMessagesHandlersList>

      <McsdResponseMessageHandler Name="MscdExecutionReportResponseMessage" Type=" Beltone.Services.Fix.Service.Handlers.ResponseMcsdMessagesHandlers.McsdExecutionResponseMessageHandler" />

    </McsdResponseMessagesHandlersList>
  </McsdResponseMessagesHandlers>

  <connectionStrings>
    <add name="FixDbEntities" connectionString="metadata=res://*/FixDB.csdl|res://*/FixDB.ssdl|res://*/FixDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.50.218;initial catalog=FixOrder.Mob;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BasicDataDBConnectionString" connectionString="Data Source=10.20.50.218;Database=Beltone.BasicData;Persist Security Info=True;Max Pool Size=500;Connect Timeout=600;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="FixOrdersDBConnectionString" connectionString="Data Source=10.20.50.218;Database=FixOrder.Mob;Persist Security Info=True;Max Pool Size=500;Connect Timeout=600;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FixClientSettingsFile" value="fixclient.txt"/>
    <add key="FixServerSettingsFile" value="fixserver.txt"/>
    <!--<add key="SequenceFilePath" value="C:\FIX.4.2-MMFIX-BELTONE.body\FIX.4.2-MMFIX-BELTONE.seqnums"/>-->
    <add key="ReinitializeCounters" value="false"/>
    <add key="CheckMultipleInstances" value="true"/>
    <add key="CheckQueueExistance" value="true"/>
    <add key="FixQueueAuthenticatedUser" value="rkashef"/>

    <add key="RecievedMessagesQueueName" value=".\PRIVATE$\fixordersqueue"/>
    <!--<add key="RecievedMessagesQueueName" value=".\PRIVATE$\FixOrdersQueue"/>-->
    <add key="IsTransactionalQueue" value="true"/>
    <add key="ConsiderSysShutdown" value="true"/>
    <add key="SysShutdownTime" value="23:50:00.000"/>
    <add key="SMTPHostName" value="10.50.50.48"/>
    <add key="SMTPTimeout" value="10000"/>
    <add key="SMTPPriority" value="High"/>
    <add key="SupportMailTo" value="23123i@beltonefinancial.com"/>
    <add key="SupportMailFrom" value="m1211213@beltonefinancial.com"/>
    <add key="CheckEndOfSessionInMilliSec" value="5000"/>
    <add key="SupportMailCC" value=""/>
    <add key="RequestsRouterProcessorsNum" value="10"/>
    <add key="ResponsesRouterProcessorsNum" value="10"/>
    <add key="McsdResponsesRouterProcessorsNum" value="1"/>
    <add key="MsgTypeTag" value="35"/>
    <add key="FixMessageVersionTag" value="8"/>
    <add key="SenderCompIDTag" value="49"/>
    <add key="TargetCompIDTag" value="56"/>
    <add key="ClOrderIDTag" value="11"/>
    <add key="OrderStatusTag" value="39"/>
    <add key="ExecTypeTag" value="150"/>
    <add key="OrderRejReasonTag" value="103"/>
    <add key="ExecTransType" value="20"/>
    <add key="ClOrderIDTag" value="11"/>
    <add key="AwaitTestResInMS" value="5000"/>
    <add key="OrderPriceDigitsRounding" value="2"/>
    <add key="AllowableOrderDelayInMilliSeconds" value="10000"/>
    <add key="AccessRetry" value="3"/>
    <!--30 sec-->
    <add key="AllowableSubscriptionDelayInMilliSeconds" value="30000"/>
    <add key="StocksIssuesQuery" value="select * from issues"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- MCSD Congiguraionts -->
    <add key="MCSDresponseQueueIP" value="10.20.50.241"/>
    <add key="MCSDresponseQueueName" value="mcsdresponsequeue"/>
    <add key="MCSD_UserName" value="Fix2"/>
    <add key="MCSD_Password" value="Fix2"/>
    <add key="OverrideMCSDQueue" value="false"/>
    <add key="FlushMCSDUpdatesOffline" value="true"/>
    <add key="BrokerCode" value="1094"/>
    <add key="McsdServicePingIntervals" value="5000"/>
    <add key="EnableMcsdTimeOutChecker" value="false"/>
    <add key="McsdTimeOutPeriod" value="30000"/>
    <add key="McsdTimeOutCheckrIntervals" value="1000"/>
    <add key="AllowBuyAllocation" value="false"/>
    <add key="AllowMcsdAllocation" value="true"/>
    <add key="ActiveAllocationsActions" value="New,Modify,Cancel"/>
    <add key="ActiveAllocationsTypes" value="REGULAR,SAMEDAY,SAMEDAYPLUS"/>
    <add key="ForceSendMcsdRejectedOrdersToMarket" value="false"/>
    <add key="WcfMsgPrefix" value="W"/>
    <add key="FixMsgPrefix" value="F"/>
    <add key="MsgSplit" value="-"/>


    <!-- ///// -->

  </appSettings>
  <system.serviceModel>

    <client>
      <!-- MCSD Service configurations -->
      <endpoint name="netTcpBinding_IMcdrAdmin" address="net.tcp://localhost:9873/McdrAdmin.svc" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
              contract="Beltone.Services.MCDR.Contract.Interfaces.IMcdrAdmin">
      </endpoint>

      <!--<endpoint address="net.msmq://10.20.22.132/private/mcdrsvcqueue" binding="netMsmqBinding" bindingConfiguration="McdrBinding" contract="Beltone.Services.MCDR.Contract.Interfaces.IMcdr" name="MSMQ"/>-->

      <endpoint address="net.msmq://./private/mcdrsvcqueue" binding="netMsmqBinding" bindingConfiguration="McdrBinding" contract="Beltone.Services.MCDR.Contract.Interfaces.IMcdr" name="MSMQ"/>

      <!-- MCSD Service configurations -->
    </client>


    <services>

      <service behaviorConfiguration="OrderProcessorServiceBehavior" name="Beltone.Services.Fix.Service.OrdersService.FixOrdSvc">
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://./private/fixordersqueue"/>
            <add baseAddress="http://localhost:9075/OrdersService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://./private/fixordersqueue" binding="netMsmqBinding" bindingConfiguration="OrdersBinding" contract="Beltone.Services.Fix.Contract.IOrders"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>

      <service name="Beltone.Services.Fix.Service.FixAdminSvc" behaviorConfiguration="AdminServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9562/FixAdminSvc.svc"/>
          </baseAddresses>
        </host>
        <endpoint bindingConfiguration="netTcpBindingConf" binding="netTcpBinding" contract="Beltone.Services.Fix.Contract.IFixAdmin">
        </endpoint>
        <!--<endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="mexTcpBindingConf"/>-->
      </service>

    </services>

    <bindings>

      <netTcpBinding>

        <binding name="netTcpBindingConf" closeTimeout="00:010:00" portSharingEnabled="false" openTimeout="00:010:00" receiveTimeout="00:30:10" sendTimeout="23:59:59" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="false" inactivityTimeout="10:00:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>

        <binding name="mexTcpBindingConf" portSharingEnabled="false">
          <security mode="None">
            <transport protectionLevel="None"/>
          </security>
        </binding>

        <binding name="netTcpBinding" closeTimeout="00:010:00" openTimeout="00:010:00" receiveTimeout="00:10:00" sendTimeout="00:010:00" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"  />
          </security>
        </binding>


      </netTcpBinding>

      <netMsmqBinding>
        <binding name="OrdersBinding" maxReceivedMessageSize="1048576" maxBufferPoolSize="1048576">
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="McdrBinding" maxReceivedMessageSize="1048576" maxBufferPoolSize="1048576">
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior name="AdminServiceBehavior">
          <serviceMetadata/>
          <useRequestHeadersForMetadataAddress/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <!--<serviceMetadata httpGetEnabled="false" httpGetUrl=""/>-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="OrderProcessorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
