<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${logDirectory}/nLog.txt"
      internalLogToConsole="true"
      autoReload="true">


  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <variable name="componentName" value="FIX"/>

  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="true"/>

    <target name="ColoredConsole" xsi:type="ColoredConsole"
            layout="${message}"/>

    <target name="DetailedFile" xsi:type="File"
            fileName="logDirectory\${machinename}_${shortdate}_${componentName}_detailed_logger.txt"
            autoFlush="true"
            keepFileOpen="false"
            layout="${longdate} | ${level} | ${callsite} | ${message}"/>

    <target name="TempFile" xsi:type="File"
            fileName="logDirectory\${machinename}_${shortdate}_${componentName}_logger.txt"
            autoFlush="true"
            keepFileOpen="false"
            layout="${longdate} | ${level} | ${callsite} | ${message}"/>


    <target name="SMS" xsi:type="Mail"
            smtpServer="mail.beltonefinancial.local "
            from="relzawahry@beltonefinancial.com"
            to="relzawahry@beltonefinancial.com"
            layout="[${machinename}]${message}"/>


    <target name="Mail" xsi:type="Mail"
            smtpServer="mail.beltonefinancial.local"
            from="relzawahry@beltonefinancial.com"
            to="relzawahry@beltonefinancial.com"
            subject="[${level}][${machinename}]"
            layout="${longdate}${newline}${machinename}${newline}${componentName}${newline}${newline}${level}${newline}${callsite}${newline}${message}"/>


  </targets>


  <rules>
    <logger name="ConsoleLogger" minlevel="Trace" maxlevel="Fatal" writeTo="ColoredConsole"/>
    <logger name="FileLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="DetailedFile"/>
    <logger name="MailLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="Mail"/>
    <logger name="SMSLogger"     level="Fatal" writeTo="SMS"/>
    <logger name="TempLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="TempFile"/>
  </rules>


</nlog>
