<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ResponseQueueName" value="client3"/>
    <add key="ResponseQueueIP" value="."/>
    <!--//<add key="BasicDataDBConnectionString" value="Data source=10.20.50.206;Database=Beltone.BasicData;Integrated Security=False; User ID=sa; Password=MYSQLSERVER#1" />-->
    <add key="BasicDataDBConnectionString" value="Data source=.;Database=Beltone.BasicData;Integrated Security=True" />
    <!--//<add key=ConStrongKeys.FixDbCon value="Data source=10.20.50.206;Database=Beltone.FixService;Integrated Security=False; User ID=sa; Password=MYSQLSERVER#1" />-->
    <add key="FixOrdersDBConnectionString" value="Data source=.;Database=Beltone.FixService;Integrated Security=True" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://./private/FixOrdersQueue" binding="netMsmqBinding" bindingConfiguration="OrdersBinding" contract="Beltone.Services.Fix.Contract.IOrders" name="MSMQ"/>
      <endpoint name="netTcpBinding_IFixAdmin" address="net.tcp://localhost:9561/FixAdminSvc.svc" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="Beltone.Services.Fix.Contract.IFixAdmin">
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" closeTimeout="00:010:00" openTimeout="00:010:00" receiveTimeout="00:10:00" sendTimeout="00:010:00" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="None"  />
          </security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="OrdersBinding" maxReceivedMessageSize="1048576" maxBufferPoolSize="1048576">
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="OrderProcessorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
